-
    const appeals = [
        {
            title: 'В интересах каждого',
            appeal: 'Писать можно обо всем на свете — расскажите о ракетостроении или выложите фотографию любимого кота.'
        },
        {
            title: 'Самовыражайся',
            appeal: 'Рассказывай о том, что важно для тебя. Публикуй статьи, стихи, фотографии, видео, аудиозаписи, что угодно.'
        },
        {
            title: 'Будь собой',
            appeal: 'Создавай блог таким, как тебе нравится. Голосуй за нужные посты. Подписывайся на волнующие тебя темы и открывай новые.'
        },
        {
            title: 'Находи друзей по интересам',
            appeal: 'Общайся с миллионами людей в миллионах сообществ. Исследуй миллионы разных #тегов.'
        },
        {
            title: 'Как это работает?',
            appeal: 'Golos.io — это блог-платформа на блокчейне , где пользователи могут публиковать записи и голосовать за понравившиеся статьи. Голосуя за понравившуюся статью ты отдаешь свой «голос» за нее.'
        }
    ];
each val in appeals
    .about-golos__appeal
        h3.about-golos__appeal-title=val.title
        p.about-golos__appeal-description=val.appeal
