.overlay
.modal
    img(src="img/logo/email.svg", alt="").modal__icon
    h3.modal__thanks Спасибо за подписку
    p.modal__description Мы сообщим вам по почте о выходе приложения Golos.io и возможности тестирования.
        br
        br
        | С уважением, Команда Golos.io
    .modal__links-container
        a(href="").modal__android-link
            span.visually-hidden Android приложение
        a.modal__ios-link
            span.visually-hidden iOs приложение
    a(href="").modal__back Вернуться на Golos.io
