doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        // <base href="/">
        title Golos.io ios
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="copyright" content="")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="robots" content="all")
        // Template Basic Images Start
        // Template Basic Images End
        // Custom Browsers Color Start
        meta(name="theme-color" content="#0d0d0f")
        // Custom Browsers Color End
        // Preloads
        link(rel="preload" href="css/main.min.css" as="style")
        link(rel="preload" href="js/scripts.min.js" as="script")
        link(rel="preload" href="fonts/roboto.woff2" as="font")
        // Preloads End
        link(rel="stylesheet" href="css/main.min.css")
    body.isHome
        header.page-header
            a.logo__wrapper(href="https://golos.io" target="_blank" rel="noreferrer")
                img.logo__img(src="img/logo/logo.svg" alt="Golos.io" width="28" height="30")
                p.logo Golos
            .page-header__l10n
                ul.page-header__l10n-list(tabindex="0")
                    li.page-header__l10n-item.page-header__l10n-item--active.page-header__l10n-item--active-close
                        button(type="button").page-header__l10n-button RU
                    li.page-header__l10n-item
                        button(type="button").page-header__l10n-button EN
        main
            section.be-in-touch
                .be-in-touch__wrapper
                    .main-message
                        h1.message__header
                            | Golos.io активно работает над выпуском приложения блог-платформы будущего теперь и на iOs платформе.
                        p.message__description
                            | Децентрализованная блог-платформа на блокчейне Голос давно работает на web платформе и имеет собственное приложения на Android.
                            br
                            | Теперь настал черед порадовать и пользователей iOs.
                    h2.be-in-touch__title Будь на связи
                    strong.message__header Приложение Golos.io на iOs появится уже совсем скоро!
                    p.message__description Будь в числе первых пользователей с возможностью протестировать приложение.
                    form.be-in-touch__form(action="")
                        div.be-in-touch__checkbox-wrapper
                            label.be-in-touch__label(for="want-test")
                                input.be-in-touch__checkbox.visually-hidden(type="checkbox" name="" id="want-test" checked)
                                span.be-in-touch__checkbox-indicator
                                | Хочу тестировать. Добавьте меня в список тестировщиков альфа версии приложения
                            label.be-in-touch__label(for="want-message")
                                input.be-in-touch__checkbox.visually-hidden(type="checkbox" name="" id="want-message")
                                span.be-in-touch__checkbox-indicator
                                | Сообщите мне о выходе приложения.
                        .be-in-touch__email-wrapper
                            label.visually-hidden(for="email-field") Email
                            input.be-in-touch__email(type="email" id="email-field" placeholder="Email")
                            button.be-in-touch__send-button(type="submit") Отправить
                .be-in-touch__img-wrapper
                    picture
                        source(media="(max-width: 1087px)" srcset="img/be-in-touch.webp 1x, img/be-in-touch@2x.webp 2x, img/be-in-touch@3x.webp 3x" type="image/webp")
                        source(srcset="img/be-in-touch_dk@2x.webp 2x, img/be-in-touch_dk@3x.webp 3x" type="image/webp")

                        source(media="(max-width: 1087px)" srcset="img/be-in-touch.png 1x, img/be-in-touch@2x.png 2x, img/be-in-touch@3x.png 3x" type="image/png")
                        source(srcset="img/be-in-touch_dk@2x.png 2x, img/be-in-touch_dk@3x.png 3x" type="image/png")
                        img(src="img/be-in-touch_dk.png", alt="" height="734")
            section.steps
                .steps__container
                    - const steps = ['Подпишись', 'Получи тестовую версию', 'Узнай первым о релизе приложения']
                    each val, index in steps
                        .steps__step
                            img(src=`img/logo/icon-instr-${index + 1}.svg`, alt=`Иконка '${val}'` width="76" height="76")
                            p.steps__step-header=`Шаг ${index + 1}`
                            p.steps__step-description=val
            section.about-golos
                .about-golos__wrapper
                    h2.about-golos__title Golos.io
                    strong.about-golos__description Место, где можно самовыражаться и получать поддержку. Рассказывайте о том, что важно для вас. Открывайте для себя новое и интересное.
                    .about-golos__appeals
                        include _templates/appeals.pug
                .about-golos__img-wrapper
                    picture
                        source(srcset="img/about-golos@2x.webp 2x, img/about-golos@3x.webp 3x" type="image/webp")

                        source(srcset="img/about-golos@2x.png 2x, img/about-golos@3x.png 3x" type="image/png")
                        img.about-golos__img(src="img/about-golos.png", alt="")
            section.screenshots
                .screenshots__container
                    h2.screenshots__title Скриншоты
                    .screenshots__wrapper
                        picture
                            source(srcset="img/screenshots-1@2x.webp 2x, img/screenshots-1@3x.webp 3x" type="image/webp")

                            source(srcset="img/screenshots-1@2x.png 2x, img/screenshots-1@3x.png 3x" type="image/png")
                            img.screenshots__screenshot.screenshots__screenshot--active(src="img/screenshots-1.png", alt="")
                        picture
                            source(srcset="img/screenshots-2@2x.webp 2x, img/screenshots-2@3x.webp 3x" type="image/webp")

                            source(srcset="img/screenshots-2@2x.png 2x, img/screenshots-2@3x.png 3x" type="image/png")
                            img.screenshots__screenshot(src="img/screenshots-2.png", alt="")
                    .screenshots__active-indicator
                        button.screenshots__button(type="button" disabled)
                        button.screenshots__button(type="button")
            section.android
                .android__container
                    .android__wrapper
                        h2.android__title Уже доступно для android
                        p.android__description Приложение для android вы можете скачать прямо сейчас
                        a.android__link(href="https://play.google.com/store/apps/details?id=io.golos.golos" target="_blank" rel="noreferrer")
                            span.visually-hidden Golos.io в google play
                    .android__img-wrapper
                        picture
                            source(srcset="img/android@2x.webp 2x, img/android@3x.webp 3x" type="image/webp")

                            source(srcset="img/android@2x.png 2x, img/android@3x.png 3x" type="image/png")
                            img.android__img(src="img/android.png", alt="")
            section.android-reviews
                .android-reviews__container
                    .android-reviews__img-wrapper
                        img.android-reviews__img(src="img/android-reviews.svg", alt="")
                    .android-reviews__wrapper
                        .android-reviews__review
                            h2.android-reviews__title Oтзывы android приложения
                            .android-reviews__review-header
                                img.android-reviews__reviewer-ava.android-reviews__reviewer-ava--mob(src="img/logo/active-a.svg", alt="" width="30")
                                p.android-reviews__review-author Anton Lis
                                .android-reviews__review-stars
                                    - let starCount = 5;
                                    while starCount > 0
                                        img.android-reviews__review-star(src="img/logo/icon-star.svg", alt="Звезда рейтинга" width="14" height="14")
                                        - starCount--;
                                button.android-reviews__next-review.android-reviews__next-review--mob(type="button")
                                    span.visually-hidden Следующий отзыв
                            p.android-reviews__review-text Интересное приложение) пока еще не полностью разобралсяв нем но это действительно чтото новое чего еще небыло на просторах интернета))
                    .android-reviews__reviewers
                        img.android-reviews__reviewer-ava.android-reviews__reviewer-ava--active(src="img/logo/active-a.svg", alt="" width="30")
                        img.android-reviews__reviewer-ava(src="img/logo/active-m-a@3x.png", alt="" width="30")
                        img.android-reviews__reviewer-ava(src="img/logo/active-r-p.svg", alt="" width="30")
                        img.android-reviews__reviewer-ava(src="img/logo/active-t-d@3x.png", alt="" width="30")
                        img.android-reviews__reviewer-ava(src="img/logo/active-c-p.svg", alt="" width="30")
                        button.android-reviews__next-review.android-reviews__next-review--desk(type="button")
                            span.visually-hidden Следующий отзыв

        footer.page-footer
            include _templates/social.pug
            p.page-footer__copyrights   © 2018 IT, OOO. All rights reserved
        script(src="js/scripts.min.js")
